body {
	margin-top: 20px;
	margin-left: 40px;
	margin-right: 40px;
	padding: 0;
	/*background: #D1D1D1;*/
	/*background: #DEDEDE;*/
	background: #3B3B3B;
	font-family: serif;
	/*color: #424140;*/
	/*color: #D1D1D1;*/
	color: white;
}

h1, h2, h3 {
	margin-top: 20px;
	margin-bottom: 15px;
	font-weight: normal;
	/*color: #424140;*/
	/*color: #D1D1D1;*/
	color: white;
}

h1 {
	/*letter-spacing: -1px;*/
	font-size: 32px;
}

h2 {
	font-size: 23px;
}

img {
	border: none;
}

a {
	/*color: #5B698A;*/
	/*color: #A3DFFF;*/
	color: #63FFFC;
	text-decoration: none;
}

a:hover, a:active {
	text-decoration: none;
	/*color: #48ACDE;*/
	color: yellow;
}

#.current_page a {
	text-decoration: none;
	color: white;
}

li {
	margin-bottom: 5px;
}

img {
	margin-bottom: 10px;
}
