body {
	margin-top: 20px;
	/*margin-left: 40px;*/
	padding: 0;
	/*background: #DEDEDE;*/
	background: #3B3B3B;
	font-family: serif, sans-serif;
	/*color: #424140;*/
	/*color: #D1D1D1;*/
	color: white;
	font-size: 18px;
	line-height: 1.5;
}

h1, h2, h3 {
	margin-top: 30px;
	margin-bottom: 15px;
	font-weight: normal;
	/*color: #424140;*/
	/*color: #D1D1D1;*/
	color: white;
	font-family: serif;
}

h1 {
	/*letter-spacing: -1px;*/
	font-size: 34px;
}

h2 {
	font-size: 25px;
}

img {
	border: none;
}

a {
	/*color: #5B698A;*/
	/*color: #A3DFFF;*/
	color: #63FFFC;
	text-decoration: none;
}

a:hover, a:active {
	text-decoration: none;
	/*color: #48ACDE;*/
	color: yellow;
}

#.current_page a {
	text-decoration: none;
	color: white;
}

li {
	margin-top: 10px;
	margin-bottom: 15px;
}

img {
	margin-bottom: 10px;
}

div#left-sidebar{
	position:fixed;
	top:0;
	left:20;
	margin-right: 40px;
	margin-left: 0px;
	margin-top: 0px;
	width:250px;
	height:100%;
	/*background: black;*/
	color: #3B3B3B;
}

div#content{
	/*width: 500px;*/
	margin-left: 290px;
	margin-right: 40px;
}
